.footer {
    background-color: hsl(260, 56%, 12%);
    color: #fff;
    text-align: center;
    font-weight: 600;
    padding: 2rem 0;
    margin-top: 7.5rem;
  }
  .footerTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .footerSocial {
    margin-bottom: 1rem;
  }
  .footerIcon {
    font-size: 1.5rem;
    color: #fff;
    margin: 0 1rem;
  }
  .footerCopy {
    font-size: .75rem;
  }